<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.dao.security.RandomDao">
    <resultMap id="randomMap" type="RandomEntity">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="use_status" property="useStatus"/>
        <result column="status" property="status"/>
        <result column="create_on" property="createOn"/>
        <result column="create_by" property="createBy"/>
        <result column="modify_on" property="modifyOn"/>
        <result column="modify_by" property="modifyBy"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="openAccount" resultMap="randomMap">
        select * from random_account where use_status = 0 order by id desc limit 1
    </select>

    <update id="closeAccount" parameterType="RandomEntity">
        update random_account set version = version + 1, use_status = 1 where id = #{id} and version = #{version}
    </update>

    <insert id="createRandomEntity" parameterType="RandomEntity" useGeneratedKeys="true" keyProperty="id">
        insert into random_account(account, use_status, status, create_on, create_by, modify_on, modify_by, version)
        values (#{account}, #{useStatus}, #{status}, #{createOn}, #{createBy}, #{modifyOn}, #{modifyBy}, #{version})
    </insert>
</mapper>